* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgba(218, 217, 214, 0.596);
  border-radius: 20px;
}

h1 {
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
}

p {
  line-height: 20px;
}

input {
  border-top: 3px solid rgb(253, 135, 0);
  border-bottom: 3px solid rgb(253, 135, 0);
  border-left: 3px solid rgb(253, 135, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 30px;
  outline: black;
}
.passInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 3px solid rgb(253, 135, 0);
  border-bottom: 3px solid rgb(253, 135, 0);
  border-right: 3px solid rgb(253, 135, 0);
  height: 30px;
  line-height: 7px;
  padding: 10px;
  width: 70px;
}

.requisiti {
  width: 100%;
  color: gray;
  margin-bottom: 2rem;
}

.success {
  color: rgb(23, 209, 23);
}

#passBar {
  height: 30px;
  width: 100%;
  background-color: rgb(201, 201, 201);
  position: relative;
  border-radius: 10px;
}

.oneOfFour {
  position: absolute;
  top: 0;
  left: 0;
  right: 75%;
  bottom: 0;
  background-color: rgb(255, 31, 31);
  border-radius: 10px 0px 0px 10px;
}
.twoOfFour {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background-color: rgb(247, 143, 51);
  border-radius: 10px 0px 0px 10px;
}
.threeOfFour {
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;
  bottom: 0;
  background-color: rgb(249, 225, 90);
  border-radius: 10px 0px 0px 10px;
}
.fourOfFour {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  border-radius: 10px;
}
